{
  "extends": "@antfu",
  "rules": {
    "curly": [2, "all"], //必须使用 if(){} 中的{},
    "no-console":"off",
    "@typescript-eslint/no-use-before-define":"off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
